# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Distribuciones / empaquetado
build/
dist/
*.egg-info/
*.egg

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de logs y bases de datos locales
*.log
*.sqlite3
*.db

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
.env
